.announcements{
    float: left;
    margin:10px;
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 3px;
    text-align: left;
}

.announcements h1{
    font-size: 18px;
    text-align: center
}