.StreamPost {
    float: left;
    margin: 5px;
    padding: 15px;
    height: auto;
    width: 200px;
    border-radius: 2px;
    border: none;
    display: flex;
    flex-flow: column;
    cursor: pointer;
    text-align: left;
}

.assignment {
    background-color: #a9cf48;
}

.announcement {
    background-color: #00ac5b;
}

.liveStream {
    background-color: #fedd22;
}

.Teacher {
    background-color: #38c3f6;
}

@media (max-width:500px) {
    .StreamPost {
        font-size: 0.75rem;
        width: 220px;
        padding: 8px;
        margin: 5px auto;
        text-align: center;
    }
}