.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius:10px
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    background-color: #5C9210;
}

.Danger {
    background-color: #f30000;
}