.SideDrawer{
    position: fixed;
    background-color: white;
    width:280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
}

.Announcements{
    border: 1px solid lightgray;
    margin:5px;
    padding:5px;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}