.AssignmentsGrid{
    width: 80%;
    margin:20px auto;
    border:1px solid black;  
}

.firstRow{
    position:relative;
    width:100%;
    display:flex;
    align-items: center;
}

.AssignmentsGrid h1{
    font-size: 22px;
    padding:5px;
    margin:5px;
}
