body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@font-face {
  font-family: 'Royalacid';
  src: local('Royalacid'), url("./assets/fonts/Royalacid_o.ttf") format('truetype');
}
